@import "variables";
@import "mixins";

// =========================
// begin  适合所有项目的通用性

// sprite comm style
[class^="myicon-"],
[class*=" myicon-"] {
  display: inline-block;
  vertical-align: middle;
}

// global img
.thumbnail, .img, .thumb {
  display: block;
  text-align: center;
  overflow: hidden;
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

// global display: table-cell 时的左中右布局
.layout-left, .layout-body, .layout-right {
  display: table-cell;
  vertical-align: top;
}
/* 宽度自适应宽度 */
.layout-body { width: 10000px; }

// 小功能
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.clearfix {
  @include clearfix();
}
.text-ellipsis {
  @include text-truncate();
}

input, button, select, textarea {
  padding: pxToEm(6px) pxToEm(10px);
  color: $gray;
  border: 1px solid $grayBorder;
}
// 有单位的输入框
.form-unit-box {
  position: relative;
  input { padding-right: 2.4em; }
  .unit {
    position: absolute;
    right: 0;
    top: pxToEm(6px);
    width: 2em;
  }
}
// 数量增减输入框
.form-ctrl-num, .form-ctrl-num2 {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid $grayBorder;
  color: $gray-light;
  input { width: 4em; }
  b {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
}
.form-ctrl-num {
  input { border-width: 0 1px; }
  b {
    padding: 0 5px;
    font-size: pxToEm(20px);
  }
}
.form-ctrl-num2 {
  position: relative;
  height: 32px;
  padding-right: 24px;
  input { border-width: 0 1px 0 0; }
  b {
    position: absolute;
    right: 0;
    bottom: 1px;
    height: 15px;
    line-height: 15px;
    width: 24px;
    text-align: center;
    &:first-child {
      top: 1px;
      border-bottom: 1px solid $grayBorder;
    }
  }
}

// 下拉菜单
.pulldown {
  .icon-caret-up {
    display: none;
  }
  &:hover, &.on {
    .icon-caret-up { display: inline-block; }
    .icon-caret-down { display: none; }
  }
}

// end
// =========================


