<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="http://ui.jc001.cn/js/jquery/jquery-1.11.1.min.js"></script>

  <script src="http://www.jiuzheng.net/choujiang/static/js/easing.js"></script>

</head>
<body>


<div id="app">

</div>


</body>
</html>