@import "../comment-config";

.comment-base {
  input, textarea {
    margin-bottom: 0;
    border: none;
    line-height: 21px;
  }
  textarea {
    display: block;
    width: 100%;
    background-color: #f7f7f7;
  }
  .comment-textarea, .comment-input {
    line-height: 2.8;
    font-size: 17px;
    color: #777777;
    background-color: $body-bg;
    @include slenderBorder(top, #e2e2e2);
    .span { margin: 0 13px; }
    // 如果是移动端
    &.ismobile {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $zindex-modal;
    }
  }
  .comment-input {
    padding-left: 15px;
  }
  .comment-textarea {
    padding: 12px 12px 0;
    &.ismobile { display: none; }
  }
  .get-site {
    line-height: 3.6em;
    overflow: hidden;
    font-size: 12px;
    color: $gray-light2;
    font-family: "Lato", sans-serif;
    @include slenderBorder(top, #e3e3e3);
    i { font-size: 14px; }
  }
  .input-box {
    overflow: hidden;
  }
  .submit-btn {
    display: inline-block;
    line-height: 1.6;
    padding: 0 .8em;
    border: 1px solid #bdbdbe;
    border-radius: 3px;
    font-size: 15px;
  }

  .comment-title {
    line-height: 2.8em;
    margin-bottom: 10px;
    padding: 0 12px;
    @include slenderBorder();
    .title {
      font-size: 16px;
    }
  }

  // 评论 条目
  .comment-item {
    padding: 12px 12px 15px;
    font-size: 15px;
    .avatar {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 3px;
      margin-right: 12px;
      border-radius: 50%;
    }
  }

  .comment-item-cont {
    overflow: hidden;
    padding-bottom: 10px;
    @include slenderBorder();
    img {
      display: block;
      margin: 5px 0;
    }
    .name-row, .top-sub-info {
      color: darken($gray-light2, 5%);
    }
    .name-row, .reply-name-row {
      margin-bottom: 2px;
    }
    .top-sub-info {
      margin-bottom: .3em;
      font-size: .7em;
    }
    .comment-text {
      font-size: 1.1em;
      margin-bottom: 6px;
    }
    .reply-list {
      padding: 5px 10px;
      background-color: $gray-lightest;
    }
    .reply-item {
      margin-bottom: 6px;
    }
    .reply-name-row, .reply-more {
      color: $gray-light2;
    }
    .reply-item-text {
      font-size: 1.05em;
    }
    .reply-more {
      line-height: 2em;
      margin-bottom: 3px;
      font-family: "Lato", sans-serif;
    }
  }
}