.login_container {width:450px;}
.login {border:1px solid #C4C4C4;color:#4444;margin-bottom:10px;}
.login_header {border-bottom:1px solid #C4C4C4;height:50px;line-height:50px;background-color: #f5f5f5;}
.login_header h2 {margin:0 20px;font-size:23px;line-height: 50px;}
.login_content {padding:20px;}
.login_content ul {margin:0;padding:0;}
.login_content input {width:410px;
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:2px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:2px;
border:1px solid #ddd;
margin-bottom:20px;
padding:7px;
}
.login_content .notification {width:100%;border:1px dashed #A2B4EE;display:block;padding:7px;color:#585B66;background-color: #DBE3FF;font-size: 12px;}
.login_content .button{border:1px solid #5B79E1;background-color: #9DB4FF;font-size: 14px;font-weight: bold;color: #333; padding:10px 20px 10px 20px; margin-top:20px;}
.login_content .right {float:right;}
.login_content .cou{clear: both;}
.login_container .list a:hover {color:#0C870F;font-size: 12px;}